body,h1,h2,p{
    margin:0px;
    font-family: 'Merriweather', serif;
    
}
.main{
    background-color:#caf2f6 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}
#logo{
    color:blueviolet;
    font-size: 50px;
    font-weight: 900;
    padding-top: 50px ;
    padding-bottom: 10px;
}
.form{
    background-color: #f0f2f5;
    width:400px;
    border-radius: 10px;
   
}
.formheading{
    text-align: center;
    padding: 20px;
    color:rgb(5, 63, 5);
    border-bottom: 1px solid #8fa8fa;
}
h2{
    padding-bottom: 5px;
}
p{
    font-size: 20px;
    color:rgb(179, 8, 142);
    padding-top: 5px;
}
.ip{
  background-color:#f0f2f5;
  border-radius: 5px;
  padding: 10px; 
  display: flex;
  justify-content: space-between;
 flex-wrap: wrap;

}
input,select{
  
    border:1px solid #ccc;
    width:100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px; 
    font-size: 15px;
    text-align: center;
}
.ipb{
    display: flex;
    
    border-radius: 5px;
    width:100%;
   
}
.color{
    display:flex;
    width:100%;
}
.dob{
    display: flex;
    width: 100%;
    justify-content:space-between ;
}
.quat{
    width: 31%;
    display: flex;
    background-color: #f0f2f5;
}
label{
   
    font-size: 12px;
    color: black;
    padding-bottom: 10px;
}
.rb{
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    width:100%;
    padding:8px;
    display: flex;
    align-items:center ;
    justify-content: space-between;
}
.rblabel{
    padding-bottom: 0;
    font-size: 13px;
    color:grey;
}
.rbinput{
    margin:0px;
    width: auto;
}


.op1{
    color:blue;
}
.op2{
    color:black;
}
.op3{
    color:rgb(240, 85, 29);
}
.op4{
    color:yellow;
}
.op5{
    color:green;
}
.op6{
    color:#AA336A;
}
.button{
    padding:20px 0;
    display: flex;
    justify-content: center;
    width:100%;
}
.but{
    border:0;
    background-color: #59d4f7; 
    color:blue;
    font-size: 15px;
    font-weight: 600;
    padding:8px 65px;
    border-radius: 6px;
    cursor:pointer;
   
 }
 a{
    text-decoration: none;
 }
.abc{
    color:#f21818;
    font-size: 25px;
    font-family: sans-serif;
    margin:0;
}
 .fun{
    
    display: flex;
    justify-content: center;
    width:100%;
    padding-bottom: 10px;
    
}
.quotes{
    display: flex;
    justify-content: center;
    padding: 10px;
    color:rgb(241, 27, 155);
    font-size: 13px;
    padding-bottom: 25px;
}
